<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head></head>
<body>
	<header th:fragment="header" class="header">
        <nav class="nav_bar">
            <a href="/" class="logo">University CMS</a>
            <ul>
                <li><a class="nav_bar_item" href="/timetable">Timetable</a></li>
            </ul>
            <div sec:authorize="!isAuthenticated()" class="login_block">
                <a th:href="@{/login}" class="auth_info_button">Login</a>
            </div>
            <div sec:authorize="isAuthenticated()" class="logout_block">
                <a sec:authorize="hasAuthority('ADMIN')" class="auth_info_button" th:href="@{/admin-panel/students}">Admin panel</a>
                <form th:action="@{/logout}" th:method="POST">
                    <input class="auth_info_button" type="submit" value="Logout">
                </form>
                <p class="auth_info_button person_name" sec:authentication="name"></p>
            </div>
        </nav>
    </header>
</body>
</html>