body {
    font-family: 'Montserrat', sans-serif;
}

.form_container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 35px;
    text-align: center;
}

.error_text {
    color: darkred;
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    margin-bottom: 15px;
    font-size: 24px;
}

.form_input {
    margin-bottom: 30px;
    border-width: 0px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    background: #ffffff;
    outline: none;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.form :nth-child(5) {
    margin-bottom: 40px;
}

.submit_button {
    cursor: pointer;
    text-decoration: none;
    background-color: #405cf5;
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    font-size: 100%;
    padding: 15px 50px;
    margin-bottom: 35px;
    transition: all .2s;
}

.submit_button:hover {
    background-color: #3F70F5;
}


/*------------*/


.switch {
    min-width: 250px;
    height: 50px;
    text-align: center;
    background: #028CEB;
    transition: all 0.2s ease;
    border-radius: 25px;
/*    margin-top: 13px;*/
    margin-bottom: 35px;
  }

  input[type=radio] {
    display: none;
  }

  .switch label {
    cursor: pointer;
    color: rgba(0,0,0,0.5);
    width: 60px;
    line-height: 50px;
    transition: all 0.2s ease;
  }

  label[for=student_radio] {
    margin-right: 30px;
  }

  #teacher_radio:checked ~ .switch {
    background: #0579CA;
  }

  #student_radio:checked ~ .switch label[for=student_radio] {
    color: #fff;
  }

  #teacher_radio:checked ~ .switch label[for=teacher_radio] {
    color: #fff;
  }