body {
    font-family: 'Montserrat', sans-serif;
}

.entity_options {
    margin-top: 36px;
    text-align: center;
}

.entity_options a{
    font-size: 22px;
    color: black;
    text-decoration: none;
    margin-right: 25px;
}

.entity_options a:hover{
    text-decoration: underline;
}

.title_container, .menu_container {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 0 auto;
}

.title {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 35px;
}

.search_section {
    text-align: center;
    margin-bottom: 35px;
}

.search_title {
    font-size: 22px;
    margin-bottom: 36px;
}

.search_reset {
    margin-top: -8px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}

.search_reset:hover {
    text-decoration: underline;
}

.search_section form {
    text-align: center;
    padding: 0 30px;
    width: 400px;
    margin: 0 auto;
}

.search_input {
    margin-bottom: 44px;
    border-width: 0px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    background: #ffffff;
    outline: none;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.search_submit {
    display: none;
}

.title_button {
    cursor: pointer;
    text-decoration: none;
    background-color: #0C0D0D;
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    font-size: 100%;
    padding: 15px 0px;
    width: 200px;
    margin-bottom: 35px;
    transition: all .2s;
    text-align: center;
}


.table_container {
    padding: 0px 45px;
    margin-bottom: 30px;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.content-table thead tr {
    background-color: #0C0D0D;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0C0D0D;
}

.update_button_container {
    display: flex;
    margin-left: auto;
    margin-right: 140px;
}

.option_header, .update_button_container {
    max-width: 70px;
}

.update_button_submit, .delete_button_submit {
    cursor: pointer;
    text-decoration: none;
    background-color: #0C0D0D;
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    font-size: 80%;
    padding: 10px 20px;
    transition: all .2s;
}

.delete_button_submit {
    margin-left: 28px;
}