<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/mainStyles.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="title_container">
        <h2 class="title">Main Page</h2>
    </div>
    <div class="info">
        <p>
            To be able to see your timetable you need to be <a href="/login">logged</a>
        </p>
    </div>
    <div class="courses">
        <h2 class="title">About courses</h2>
        <div class="wrapper">
          <i id="left" class="fa-solid fa-angle-left"></i>
          <ul class="carousel">
              <li class="card" th:each="course : ${allCourses}">
                  <h2 th:text="${course.name()}"></h2>
                  <span th:text="${course.description()}"></span>
              </li>
          </ul>
          <i id="right" class="fa-solid fa-angle-right"></i>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/ddabb179d7.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/slider.js}"></script>
</body>
</html>
