<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Timetable</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/headerStyles.css}">
  <link rel="stylesheet" th:href="@{/css/userTimetableStyles.css}">
</head>
<body>
<header th:replace="~{fragments/header.html :: header}"></header>
<div class="title_container">
  <h2 th:if="${qualifyingName != null}" class="title" th:text="'Timetable for ' + ${qualifyingName}"></h2>
  <h2 th:if="${qualifyingName == null}" class="title" th:text="'Timetable'"></h2>
  <p th:if="${qualifyingName == null}" class="without_group_info">You are not currently a member of any group</p>
</div>
<div th:if="${timetableRows != null}" class="table_container">
  <table class="content-table">
    <thead>
    <tr>
      <th></th>
      <th class="timetable_header">Monday</th>
      <th class="timetable_header">Tuesday</th>
      <th class="timetable_header">Wednesday</th>
      <th class="timetable_header">Thursday</th>
      <th class="timetable_header">Friday</th>
      <th class="timetable_header">Saturday</th>
    </tr>
    </thead>
    <tbody>
    <tr class="timetable_row" th:each="timetableRow : ${timetableRows}">
      <td th:text="${timetableRow.time()}"></td>
      <td class="timetable_item">
        <p th:if="${timetableRow.mondayLesson() != null}">
          <b>
            <span th:text="${timetableRow.mondayLesson().courseDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.mondayLesson().teacherDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.mondayLesson().groupDto().name()}"></span>
          </b>
        </p>
      </td>
      <td class="timetable_item">
        <p th:if="${timetableRow.tuesdayLesson() != null}">
          <b>
            <span th:text="${timetableRow.tuesdayLesson().courseDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.tuesdayLesson().teacherDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.tuesdayLesson().groupDto().name()}"></span>
          </b>
        </p>
      </td>
      <td class="timetable_item">
        <p th:if="${timetableRow.wednesdayLesson() != null}">
          <b>
            <span th:text="${timetableRow.wednesdayLesson().courseDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.wednesdayLesson().teacherDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.wednesdayLesson().groupDto().name()}"></span>
          </b>
        </p>
      </td>
      <td class="timetable_item">
        <p th:if="${timetableRow.thursdayLesson() != null}">
          <b>
          <span th:text="${timetableRow.thursdayLesson().courseDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.thursdayLesson().teacherDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.thursdayLesson().groupDto().name()}"></span>
          </b>
        </p>
      </td>
      <td class="timetable_item">
        <p th:if="${timetableRow.fridayLesson() != null}">
          <b>
            <span th:text="${timetableRow.fridayLesson().courseDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.fridayLesson().teacherDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.fridayLesson().groupDto().name()}"></span>
          </b>
        </p>
      </td>
      <td class="timetable_item">
        <p th:if="${timetableRow.sundayLesson()} != null">
          <b>
            <span th:text="${timetableRow.sundayLesson().courseDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.sundayLesson().teacherDto().name()}"></span>
          <br/>
          <span th:text="${timetableRow.sundayLesson().groupDto().name()}"></span>
          </b>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>