<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/adminStyles.css}"> 
<!--     <link rel="stylesheet" href="../../static/css/reset.css">
    <link rel="stylesheet" href="../../static/css/adminStyles.css"> -->
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="entity_options">
        <a th:href="@{/adminPanel/students}">Students panel</a>
        <a th:href="@{/adminPanel/teachers}">Teachers panel</a>
    </div>
    <div class="search_section">
        <form th:action="@{/adminPanel/searchStudent}" th:method="POST">
            <input name="searchText" class="search_input" type="text" placeholder="Enter student name">
            <input class="search_submit" type="submit">
        </form>
    </div>
    <div class="student_section">
        <h2 class="title">Students</h2>
        <div class="table_container">
            <table class="content-table">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Roles</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="student : ${students}">
                    <td th:text="${student.name()}"></td>
                    <td>
                        <form class="role_form" th:method="POST" th:action="@{/adminPanel/{studentId}/updateStudentRoles(studentId = ${student.id()})}">
                            <div>
                                <label th:each="role : ${allRoles}">
                                    <input name="selectedRoles" type="checkbox" th:checked="${#lists.contains(student.roles(), role)}" th:value="${role}">
                                    <span th:text="${role}"></span>
                                    <br/>
                                </label>
                            </div>
                            <input class="role_form_submit" type="submit" value="Update">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>