<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/entityStyles.css}">
</head>
<body>
    <div class="header_container">
        <h2 class="header">Groups</h2>
        <a class="header_button" href="/">To main menu</a>
    </div>
    <div class="table_container">
        <table class="content-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="group : ${allGroups}">
                <td th:text="${group.id()}"></td>
                <td th:text="${group.name()}"></td>
            </tr>
        </tbody>
    </table>
    </div>
</body>
</html>