<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/entityStyles.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="title_container">
        <h2 class="title">Lessons</h2>
        <a class="title_button" href="/">To main menu</a>
    </div>
    <div class="table_container">
        <table class="content-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Course</th>
                <th>Group</th>
                <th>Teacher</th>
                <th>Day of Week</th>
                <th>Appointment time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${allLessons}">
                <td th:text="${lesson.id()}"></td>
                <td th:if="${lesson.subjectDto() != null}" th:text="${lesson.subjectDto().courseDto().name()}"></td>
                <td th:if="${lesson.subjectDto() != null}" th:text="${lesson.subjectDto().groupDto().name()}"></td>
                <td th:if="${lesson.subjectDto() != null}" th:text="${lesson.subjectDto().teacherDto().name()}"></td>
                <td th:text="${lesson.day()}"></td>
                <td th:text="${lesson.appointmentTime()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
