<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Lessons</h2>
<a href="/">To main menu</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Course</th>
        <th>Group</th>
        <th>Teacher</th>
        <th>Day of Week</th>
        <th>Appointment time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lesson : ${allLessons}">
        <td th:text="${lesson.id()}"></td>
        <td th:if="${lesson.subjectDTO() != null}" th:text="${lesson.subjectDTO().courseDTO().name()}"></td>
        <td th:if="${lesson.subjectDTO() != null}" th:text="${lesson.subjectDTO().groupDTO().name()}"></td>
        <td th:if="${lesson.subjectDTO() != null}" th:text="${lesson.subjectDTO().teacherDTO().name()}"></td>
        <td th:text="${lesson.day()}"></td>
        <td th:text="${lesson.appointmentTime()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>