<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/entityStyles.css}">
</head>
<body>
    <div class="header_container">
        <h2 class="header">Subjects</h2>
        <a class="header_button" href="/">To main menu</a>
    </div>
    <div class="table_container">
        <table class="content-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Course</th>
                <th>Teacher</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subject : ${allSubjects}">
                <td th:text="${subject.id()}"></td>
                <td th:if="${subject.courseDTO() != null}" th:text="${subject.courseDTO().name()}"></td>
                <td th:if="${subject.teacherDTO() != null}" th:text="${subject.teacherDTO().name()}"></td>
                <td th:if="${subject.groupDTO() != null}" th:text="${subject.groupDTO().name()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>