<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Teachers</h2>
<a href="/">To main menu</a>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Course id</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${allTeachers}">
        <td th:text="${teacher.id()}"></td>
        <td th:text="${teacher.name()}"></td>
        <td>
            <p th:each="course : ${teacher.courseDTOList()}">
                <span th:text="${course.name()}"></span>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>