<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/entityStyles.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="title_container">
        <h2 class="title">Teachers</h2>
        <a class="title_button" href="/">To main menu</a>
    </div>
    <div class="table_container">
        <table class="content-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Courses</th>
                <th calss="option_header"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${allTeachers}">
                <td th:text="${teacher.id()}"></td>
                <td th:text="${teacher.name()}"></td>
                <td>
                    <p th:each="course : ${teacher.courseDtoList()}">
                        <span th:text="${course.name()}"></span>
                    </p>
                </td>
                <td class="update_button_container">
                    <form sec:authorize="hasAuthority('ADMIN')" class="role_form" th:method="GET" th:action="@{/teachers/teacher-update/{teacherId}(teacherId = ${teacher.id()})}">
                        <input class="update_button_submit" type="submit" value="Update">
                    </form>
                    <form sec:authorize="hasAuthority('ADMIN')" class="role_form" th:method="POST" th:action="@{/teachers/teacher-deletion/{teacherId}(teacherId = ${teacher.id()})}">
                        <input class="delete_button_submit" type="submit" value="Delete">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
