<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h2>Timetables</h2>
<a href="/">To main menu</a>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Timetable type</th>
    <th>QualifyingName</th>
    <th>Lessons</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="timetable : ${allTimetables}">
    <td th:text="${timetable.id()}"></td>
    <td th:text="${timetable.timetableType()}"></td>
    <td th:text="${timetable.qualifyingName()}"></td>
    <td>
      <p th:each="lesson : ${timetable.lessonDTOList()}">
<!--        <span th:text="${lesson.subjectDTO().courseDTO().name() + ' ' + lesson.day() + ' ' + lesson.appointmentTime()}"></span>-->
        <span th:text="${lesson.subjectDTO().courseDTO().name()} + ' ' + ${lesson.day()} + ' ' + ${lesson.appointmentTime()}"></span>
      </p>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>