<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/authFormStyles.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="form_container">
        <h1 class="title">Login</h1>
        <div th:if="${param.error}">
            <p class="error_text">Wrong name or password</p>
        </div>
        <form class="form" th:action="@{/login}" th:method='POST'>
            <label>Name</label>
            <input class="form_input" type='text' name='username' value=''>
            <label>Password</label>
            <input class="form_input" type='password' name='password' />
            <input class="submit_button" name="submit" type="submit" value="Submit" />
        </form>
    </div>
</body>
</html>