<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update student</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/createStyles.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="title_container">
        <h2 class="title">Update student</h2>
        <a class="title_button" href="/">To main menu</a>
    </div>
    <div class="form_container">
        <div th:if="${param.error}">
            <p class="error_text">This name is already taken</p>
        </div>
        <form class="form" th:action="@{/students/student-update}" th:method='POST'>
            <input type="hidden" th:value="${student.id()}" name="studentId">
            <label>Name</label>
            <input required class="form_input" type="text" th:value="${student.name()}" name="name">
            <label>Password</label>
            <input class="form_input" type="password" name="password">
            <label>Group</label>
            <select class="form_select" name="group">
                <option th:selected="${student.groupDto() == null}" value="0" th:text="'Without group'"></option>
                <option th:each="group : ${allGroups}" th:selected="${student.groupDto() != null && student.groupDto().name().equals(group.name())}" th:value="${group.id()}" th:text="${group.name()}"></option>
            </select>
            <label>Courses</label>
            <div class="checkbox_container">
                <div class="checkbox_container_item" th:each="course : ${allCourses}">
                    <input type="checkbox" name="selectedCourses" th:checked="${#lists.contains(studentCourses, course.name())}" th:value="${course.name()}">
                    <span th:text="${course.name()}"></span>
                </div>
            </div>
            <input class="submit_button" name="submit" type="submit" value="Update" />
        </form>
    </div>
</body>
</html>
