<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update group</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/headerStyles.css}"> 
    <link rel="stylesheet" th:href="@{/css/createStyles.css}">
</head>
<body>
    <header th:replace="~{fragments/header.html :: header}"></header>
    <div class="title_container">
        <h2 class="title">Update group</h2>
        <a class="title_button" href="/admin-panel/groups">To admin panel</a>
    </div>
    <div class="form_container">
        <div th:if="${param.error}">
            <p class="error_text">Group with this name already exists</p>
        </div>
        <form class="form" th:action="@{/admin-panel/groups/group-update}" th:method='POST'>
            <input type="hidden" th:value="${group.id()}" name="groupId">
            <label>Name</label>
            <input required class="form_input" type='text' name='name' th:value='${group.name()}'>
            <input class="submit_button" name="submit" type="submit" value="Update" />
        </form>
    </div>
</body>
</html>
